form {
  border: 1px solid gray;
  padding: 0.5rem;
  border-radius: 0.25rem;
  progress {
    border-radius: 0;
    margin-bottom: 0.5rem;
    &::-webkit-progress-bar {
      background-color: transparent;
      border: 1px solid gray;
      border-radius: 0.25rem;
    }
  }
  fieldset {
    border-radius: 0.25rem;
    border: 1px solid gray;
  }
  div.input-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 0.5rem;
    label {
      font-size: small;
    }
    input {
      padding: 0.25rem;
      border-radius: 0.25rem;
      border: 1px solid gray;
    }
    small {
      color: red;
    }
  }
}
